<header class="masthead">
  <h1 class="masthead-heading">Tweetful's Team</h1>
  <p class="masthead-intro">Making the internet a little more thoughtful.</p>
</header>

<section>
  <h2>Peter Smith, CEO</h2>
  <p></p>
</section>

<section>
  <h2>Bill Bryant, CFO</h2>
  <p></p>
</section>

<section>
  <h2>Nico Moreno, CTO</h2>
  <p></p>
</section>


<footer>
  Contact us: <span>admin@tweetful.io</span>
</footer>
