<header class="masthead">
  <h1 class="masthead-heading">Tweetful</h1>
  <p class="masthead-intro">Making the internet a little more thoughtful.</p>
  <h1 class="masthead-heading">Tweetful's Team</h1>
</header>

<section class="masthead-heading">
  <h2>Peter Smith, CEO</h2>
  <h2>Becky Richardson, CFO</h2>
  <h2>Nico Moreno, CTO</h2>
  <h5>Contact us: <span>admin@tweetful.io</span></h5>
</section>


<section class="info">
  <header>
    <h2>About Tweetful</h2>
  </header>
  <p class="text">We are some pretty cool peeps, making the internet a more thoughtful place!</p>
</section>

<section class="info">
  <header>
    <h2>What makes us different?</h2>
  </header>
  <p class="text">We just run differently than other places. Come visit us to see!</p>
</section>

<section class="info">
  <header>
    <h2>Company History</h2>
  </header>
  <p class="text">It's in the works!</p>
</section>


<footer>
</footer>
